# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# Android
android/local.properties
android/.gradle/
android/app/google-services.json

# iOS
ios/Pods/
ios/Flutter/flutter_export_environment.sh
ios/.symlinks/

# Environment
.env
*.env.local

# IDE
.idea/
.vscode/
*.swp
